html, body {
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

header {
    background-color: #0000ff;
    padding: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.nombre {
    font-family: "Merriweather", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: white;
    font-size: 50px;
    text-align: center;
    margin: 0;
}

.proxima{
    font-family: "Merriweather", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0 20px;
}

.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.actividad {
    background-color: #cacacaa1;
    border-radius: 10px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.actividad i {
    font-size: 30px;
}

.actividad span {
    flex-grow: 1;
    margin-left: 15px;
    font-size: 20px;
    font-family: "Merriweather";
    font-weight: 300;
    font-style: normal;
}

.info-icon {
    color: black;
    text-decoration: none;
}

.info-icon:hover {
    color: blue;
}
footer.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    border-top: 1px solid #ccc;
    padding: 0;
}

footer .contenido {
    width: 100%;
}

footer .lista {
    display: flex;
    justify-content: space-around; 
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

footer .item {
    flex: 1; 
}

footer .item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.61);
    font-size: 10px;
    padding: 5px 0;
    width: 100%; 
    font-family: "Merriweather", sans-serif;
    font-weight: 500;
    font-style: normal;
}

footer .item a i {
    font-size: 24px;
}

footer .item a span {
    margin-top: 5px;
    font-size: 10px;
    transition: color 0.3s ease;
}

footer .item a:hover {
    color: blue;
}

footer .item a:hover i {
    color: blue;
}

footer .item a:hover span {
    color: blue;
}

footer .item a.active {
    color: blue;
}

@media (max-width: 768px) {

    footer .item {
        flex: none;
    }

    footer .item a {
        font-size: 14px; 
        padding: 15px 0; 
    }

    footer .item a i {
        font-size: 20px; 
    }
}
